* {padding:0em;
margin:0;
font-size:100%;
line-height:1em;}

/*---Images---*/

.logo{width:14%; padding:2% 43% 2% 43%;}

.love-images{padding-left:6%; padding-right:5%;}

.little-love {transition:transform .2s;}

.little-love:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);}

.little-love{width:13em;} 

ul {list-style-type:none; margin:0; padding:1em 0em 1em 0em;}

ul li {display:inline-block; margin:0 1em 1em 0; position:relative;}

/*---CTA---*/

.CTA{text-align:center; margin:2% 0 3% 0;}

.CTA a{
    font-family:'Amatic SC',cursive;
    font-size:200%;
    text-transform:uppercase;
    text-decoration:none;
    color:#ffffff;
    background-color:#FC708E;
    padding:.5em 1em .5em 1em;}

.CTA a:hover{background-color:#FC708E;}

.horizontal {
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  background:#000000;
  -webkit-transition-property:color;
  transition-property:color;
  -webkit-transition-duration:0.3s;
  transition-duration:0.3s;}

.horizontal:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin:50%;
  transform-origin:50%;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transition-duration:0.3s;
  transition-duration:0.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out;}

.horizontal:hover, .horizontal:focus, .horizontal:active {color:white;}

.horizontal:hover:before, .horizontal:focus:before, .horizontal:active:before {
  -webkit-transform:scaleX(0);
  transform:scaleX(0);}


/*---Footer---*/

.footer-line{width:90%; margin:5% 5% 1% 5%; border:1px solid #FC708E;}

footer{font-family:'Open Sans',sans-serif; 
        padding:0 0 1% 0; 
        font-size:1em; 
        text-align:center; 
        text-decoration:none; 
        color:#000000;}

.footer{text-decoration:none; text-decoration:none;}

.website{padding-bottom:1em; text-decoration:none; color:#FC708E;}

.website:hover{font-weight:bold; text-decoration:none;}

.footer li {display:inline; margin:2%;}

#Facebook:hover{color:#4267B2;}
#Instagram:hover{color:#C32AA3;}
#Pinterest:hover{color:#BD081C;}

.social-media a{color:#000000; text-decoration:none;}

.social-media li {display:inline; margin:3%;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

.logo{width:20%; padding:5% 40% 2% 40%;}

.love-images{padding-left:8%; padding-right:8%;}

.little-love{width:12em;} 

footer{font-size:1.3em;}
}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {
    
.logo{width:26%; padding:10% 37% 2% 37%;}

.love-images{padding-left:15%; padding-right:15%;}

.little-love{width:16em;} 

footer{font-size:1em;}
}