* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;}

/*---Images---*/

.logo{width:14%; padding:2% 43% 2% 43%;}

.love-images{padding-left:10%; padding-right:8%;}

.little-love {transition:transform .2s;}

.little-love:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);}

.little-love{width:15em;} 

ul {list-style-type:none; margin:0; padding:1em 0em 1em 0em;}

ul li {display:inline-block; margin:0 1em 1em 0; position:relative;}

/*---Footer---*/

.footer-line{width:90%; margin:5% 5% 1% 5%; border:1px solid #FC708E;}

footer{font-family:'Amatic SC',cursive; 
        padding:0 0 1% 0; 
        font-size:1.5em; 
        text-align:center; 
        text-decoration:none; 
        color:#000000;}

.footer{text-decoration:none; text-decoration:none;}

.website{padding-bottom:1em; text-decoration:none; color:#FC708E;}

.website:hover{font-weight:bold; text-decoration:none;}

.footer li {display:inline; margin:2%;}

#Facebook:hover{color:#4267B2; font-weight:bold;}

#Instagram:hover{color:#C32AA3; font-weight:bold;}

#Pinterest:hover{color:#BD081C; font-weight:bold;}

.social-media a{color:#000000; text-decoration:none;}

.social-media li {display:inline; margin:3%;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

.logo{width:20%; padding:5% 40% 2% 40%;}

.love-images{padding-left:8%; padding-right:8%;}

.little-love{width:12em;} 

footer{font-size:1.3em;}

}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {
    
.logo{width:26%; padding:10% 37% 2% 37%;}

.love-images{padding-left:15%; padding-right:15%;}

.little-love{width:16em;} 

footer{font-size:1em;}
    
}